.releaseActivities{
    font-size: 0.73vw;
    width:150px;
    height: 30px;
    background: transparent;
    background-image: url("../Assets/greenButtonLong.png");
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    font-weight: 600;

    
}

#activityAuditTitle, #completedActivitiesTitle{
    font-size: 1.25vw;
    font-weight: 600;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 2vw;
}