.releaseActivities{
    font-size: 0.73vw;
    width:150px;
    height: 3vw;
    background: transparent;
    background-image: url("../Assets/greenButtonLong.png");
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px;
    font-weight: 600;

    
}

#activityAuditTitle, #completedActivitiesTitle{
    font-size: 1.25vw;
    font-weight: 600;
    margin: 10px;
    margin-top: 5vw;
    margin-bottom: 2vw;
}