.badgeProfile{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.badgeProfileInner{
    background-color: black;
    margin:auto;
    margin-top:10vh;
    margin-bottom:10vh;
    padding-bottom: 50px;
    border-radius: 20px;
    border: white solid 2px;
    display: flex;
    width: 80vw;
    height: auto;
    
}

.closeButton{
    position: absolute;
    top:10px;
    right:10px;
    width:20px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image:url("../Assets/closeButton.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.badgeProfileL{
    color: white;
    width:250px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.badgeProfileR{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    width:74%;
    margin:5px;
}

.badgeProfileR h2{
    margin-top: 50px;
    font-size: 12px;
    line-height: 3vw;
    width: 100%;
}

.badgeProfileR h2 span{
    font-size: 24px;
    font-weight: 800;
}

.badgeProfileR h3{
    width: 50%;
    min-width: 150px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
}

.badgeProfileR h3 span{
    opacity: 0.45;
    font-size: 12px;
}

.badgeProfileImg{
    margin: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    margin-left: 2vw;
    border-radius: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
}

.badgeButton{
    width:120px;
    height: 40px;
    background: transparent;
    background-image: url("../Assets/greenButton.png");
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}


