.instructions{
    margin:auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

#instructions_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
    color: white;
    width: 30vw;
}

#instructions_title h1{
    font-weight: 900;
    font-size: 3.5vw;
}

#instructions_content{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.instructionsBlock{
    display: flex;
    width:30vw;
    height:12.5vw;
    background-image: url("../Assets/howItWorksBlock.png");
    background-size: 100% 100%;
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
}

.instructionsImage1{
    margin:auto;
    margin-left: 15px;
    width:50px;
    height:50px;
    background-image: url("../Assets/instructions1.PNG");
    background-size: 50px 50px;
}

.instructionsImage2{
    margin:auto;
    margin-left: 15px;
    width:50px;
    height:50px;
    background-image: url("../Assets/instructions2.PNG");
    background-size: 50px 50px;
}

.instructionsImage3{
    margin:auto;
    margin-left: 15px;
    width:50px;
    height:50px;
    background-image: url("../Assets/instructions3.PNG");
    background-size: 50px 50px;
}

.instructionsDetails{
    font-size: 1.5vh;
    padding: 10px;
    color: white;
    width: 80%;
    

}

#instructions_content div div h3{
    font-size: 2vh;
}

#instructions_content div div p{
    color: #95979b;
}

@media screen and (max-width: 650px){
    .instructions{
        width: 90vw;
    }
    #instructions_title{margin-left: 3vw;width:30vw;}
    #instructions_content{margin-left: 3vw;width: 54vw;}
    .instructionsBlock{
        display: flex;
        width:45vw;
        height:19vw;
    }
    #instructions_content div div h3{font-size: 1vw;}
}