.profile{
    color:white;
    width:70vw;
    height:auto;
    min-height: 60vh;
    margin: auto; 
    display: flex;
}

.profileButtons{
    width: 18vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;

}

.profileButton{
    width: 100%;
    height: 3vw;
    font-size: 1.25vw;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
    border-left: 2px solid #4D4D4D;
    display: flex;
    flex-direction: column;

}

.profileButton:focus{
    border-left: 2px solid #2AF598;
}


.myBadgeContent{
    width: 50vw;
    margin-top: 50px;
    
}

#myBadgeTitle{
    font-size: 1.25vw;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 2vw;
}
