.registration{
    width:100%;
    color:white;
}

#registration_title{
    width: 40vw;
    text-align: center;
    font-size: larger;
    margin: auto;
    margin-bottom: 20px;
}

#registration_title h1{
    font-weight: 900;
}

#regFormContainer{
    width:70vw;
    display: flex;
    margin: auto;
}


#regForm{ 
    width: 46vw;
    display: flex;
    flex-direction: column; 
    margin-left: 3vw;
}


#regForm p{
    margin-bottom: 20px;
}

.regFormCell{
    width: 46vw;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}


.regFormCell label { 
    width: 200px;
    font-size: 5px;
    margin-bottom: 5px;
}

.regFormCell label span{
    color:#2BF598;
}

.regFormCell input{ 
    background-color: black;
    width: 500px;
    height: 20px;
    font-size: 2px;
    padding: 10px;
    border: 1px solid #333333;
    color: white;
}

#timeZonePicker{
    width: 522px;
    height: 42px;
    background-color: black;
    font-size: 2px;
    color: white;
    padding: 2px;
}

.regFormCell select option{
    color: white;
}

.regFormCell textarea {
    background-color: black;
    width: 500px;
    height: 60px;
    font-size: 2px;
    padding: 10px;
    border: 1px solid #333333;
    color: white;
}

.imageUpload{
    height:auto;
}

.imgUploadButton{
    height: 100px;
    width:100px;
    border-radius: 100%;
    background-image: url("../Assets/imageUpload.png");
    background-color: #1B191C;
    background-size:80px 80px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
}

.imgUploadButton:hover{
    border: 1px solid grey;
}

#date{
    display:inline-block;
}

.buttons{
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height: 90px;
    display: flex;
}

.backButton{
    position: absolute;
    left:0;
    color:white;
    width: 90px;
    height: 45px;
    background: transparent;
    background-image: url("../Assets/whiteHollowButton.png");
    background-size: 90px 45px;
    border: none;
    cursor: pointer;
}

.continueButton{
    position: absolute;
    right:0;
    width: 120px;
    height: 45px;
    font-weight: 700;
    background: transparent;
    background-image: url("../Assets/greenButton.png");
    background-size: 120px 45px;
    border: none;
    cursor: pointer;
}


#continue{
    color:white;
    background-color:black;
    border-radius: 0;
}

.error{
    color: red;
    font-size: 2px;
    margin-left: 2px;
}
::-webkit-datetime-edit{
    color: white;
    padding: 0;
}
::-webkit-calendar-picker-indicator {
    height:15px;
    width:15px;
    cursor: pointer;
    background-image: url("../Assets/calendarIcon.png"); 
}

input:-webkit-autofill,
textarea:-webkit-autofill
{
  -webkit-text-fill-color: white;
  background-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 900px) and (min-width:700px){
    .regFormCell input, .regFormCell textarea{width: 400px;}
    #timeZonePicker, .buttons{width: 422px;}
}
@media screen and (max-width: 700px){
    #regFormContainer{width: 90vw;}
    .regFormCell input, .regFormCell textarea{width: 300px;}
    #timeZonePicker, .buttons{width: 322px;}
    #registration_title{width:70vw;font-size: small;}
    #regForm{margin-left: 1vw;}
}

@media screen and (max-width: 500px){
    .regFormCell input, .regFormCell textarea{width: 250px;}
    #timeZonePicker, .buttons{width: 272px;}
    #regForm{margin-left: 0;}
}